@font-face {
  font-family: "Muller";
  src: local("Muller-Regular"),
    url("../fonts/MullerRegular.woff") format("woff"),
    url("../fonts/MullerRegular.woff2") format("woff2");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

/* @font-face {
  font-family: "Muller";
  src: local("Muller-Medium"), url("fonts/MullerMedium.woff2") format("woff2"),
    url("fonts/MullerMedium.woff") format("woff");
  font-display: swap;
  font-weight: 500;
  font-style: normal;
} */

/* @font-face {
  font-family: "Muller";
  src: local("Muller-Bold"), url("fonts/MullerBold.woff2") format("woff2"),
    url("fonts/MullerBold.woff") format("woff");
  font-display: swap;
  font-weight: 700;
  font-style: normal;
} */

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  min-width: 1200px;
  font-family: "muller", sans-serif;
}

.section-offset {
  margin-bottom: 70px;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  cursor: pointer;
}

.flex {
  display: flex;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

/* VAR */

:root {
  --color-primary: #cc9933;
  --secondary-color: #f0bf5f;
  --third-color: #a47312;
  --fourth-color: #666666;
  --black-color: #000000;
  --white-color: #ffffff;
}

/* header */

.header {
  padding: 26px 0;
}

.header-logo {
  margin-right: 10px;
}

.header-tell {
  font-family: "Muller";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: var(--fourth-color);
}

.header-top-left {
  align-items: center;
}

.personal {
  font-family: "Muller";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  align-self: center;
}

.personal {
  background-image: url(../img/header-arrow.svg);
  background-repeat: no-repeat;
  padding-left: 25px;
}

.header-top-block {
  margin-bottom: 37px;
  justify-content: space-between;
  /* align-items: center; */
}

.header-nav {
  margin-bottom: 70px;
}

.header-bottom-block {
  justify-content: space-between;
  border: 1px solid var(--white-color);
  border-radius: 15px;
  background: var(--white-color);
  width: 1170px;
  height: 70px;
  padding-top: 27px;
  padding-left: 45px;
  margin-bottom: 70px;
}

.header-list-item:not(:nth-child(6)) {
  margin-right: 45px;
}

.header-list-link {
  font-family: "Muller";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: var(--fourth-color);
  transition: color 0.3s ease-in-out;
}

.header-list-link:focus-visible {
  color: var(--color-primary);
  outline-offset: 2px;
  outline: 1px solid var(--color-primary);
}

.header-list-link:hover {
  color: var(--color-primary);
}

.header-list-link:active {
  color: var(--third-color);
  outline: none;
}

.btn {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: var(--color-primary);
  background: var(--white-color);
  border: 1px solid var(--color-primary);
  border-radius: 13px;
  padding: 13px;
  align-self: flex-start;
  margin-right: 40px;
  transition: background-color 0.3s ease-in-out;
  outline: none;
}

/* .btn:focus {
  background-color: var(--color-primary);
  color: var(--white-color);
} */

.btn:focus:before {
  color: var(--white-color);
}

.btn:hover {
  background-color: var(--color-primary);
  color: var(--white-color);
}

.btn:active {
  background-color: var(--third-color);
  color: var(--white-color);
}

.btn:not(:last-child) {
  margin-right: 40px;
}

.section-title {
  margin: 0;
  margin-bottom: 30px;
  padding-left: 30px;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color: #333333;
}

.section-offset {
  margin-bottom: 70px;
}

/* offers */

.offer-wrap {
  justify-content: space-between;
}

.offer-left {
  flex-direction: column;
  flex-basis: 50%;
  min-width: 572px;
  margin-right: 24px;
}

.offer-card {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  padding: 40px 45px;
  position: relative;
}

.offer-more::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  outline: 2px solid var(--color-primary);
  outline-offset: 5px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.offer-card-1 {
  background: linear-gradient(
    90deg,
    rgba(48, 64, 89, 0.84) -2.9%,
    rgba(53, 65, 83, 0) 65.7%
  );
  border-radius: 15px;
  background-image: url(../img/mal.jpg);
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  color: var(--white-color);
}

.offer-card-2 {
  background: linear-gradient(
    90deg,
    rgba(48, 64, 89, 0.84) -2.9%,
    rgba(53, 65, 83, 0) 65.7%
  );
  border-radius: 15px;
  background-image: url(../img/krit.jpg);
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  color: var(--white-color);
}

.card-right {
  background-image: url(../img/lux.jpg);
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover;
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
  color: var(--white-color);
  display: flex;
  justify-content: flex-end;
}

.offer-card:not(:last-child) {
  margin-bottom: 24px;
}

.offer-h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  margin: 0;
  margin-bottom: 20px;
  max-width: 420px;
}

.offer-lux {
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
  color: var(--white-color);
  max-width: 300px;
  margin: 0;
  margin-bottom: 15px;
}

.offer-right {
  justify-content: flex-end;
}

.offer-more {
  display: flex;
  color: var(--secondary-color);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.offer-more:focus-visible::before {
  color: var(--color-primary);
  opacity: 1;
}

.offer-more:focus {
  outline: none;
}

.offer-more:hover svg {
  transform: translateX(5px);
  color: var(--third-color);
  outline: none;
}

svg {
  transition: transform 0.2s ease-in-out;
}

.offer-more:active {
  color: var(--white-color);
  outline: none;
}

.offer-price {
  margin-bottom: 20px;
  font-family: "Muller";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: var(--white-color);
  opacity: 0.8;
  margin-bottom: 47px;
}

/* services */
.services-card-img1 {
  background-image: url(../img/ser1.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.services-card-img2 {
  background-image: url(../img/ser2.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.services-card-img3 {
  background-image: url(../img/ser3.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.services-card-img4 {
  background-image: url(../img/ser4.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.service-card-content {
  padding-left: 45px;
}

.services-list {
  flex-wrap: wrap;
  justify-content: space-between;
}

.services-item {
  display: inline-block;
  vertical-align: top;
  min-height: 330px;
  width: 573px;
  /* outline: 1px solid coral; */
  margin-bottom: 20px;
  background-color: var(--white-color);
  border-radius: 15px;
  position: relative;
}

.services-text {
  width: 402px;
}

.services-card {
  width: 573px;
  height: 165px;
}

.service-title {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 200%;
}

.service-link:focus-visible {
  outline: 0;
}

.service-link:focus-visible:before {
  color: var(--color-primary);
  opacity: 1;
}

.service-link:hover svg {
  transform: translateX(5px);
  color: var(--secondary-color);
  outline: none;
}

.service-link:active {
  color: var(--third-color);
}

.service-link {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 200%;
  color: var(--color-primary);
  align-items: center;
  transition: color 0.3s ease-in-out;
  display: flex;
}

.service-link:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  outline: 2px solid var(--color-primary);
  outline-offset: 7px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

/* advantages */

.advantages-item {
  min-height: 276px;
  width: 276px;
  background-color: var(--white-color);
  border-radius: 15px;
  /* outline: 1px solid coral; */
  padding-left: 45px;
  padding-top: 40px;
  margin-bottom: 22px;
}

.advantages-list {
  flex-wrap: wrap;
}

.advantages-item:not(:nth-child(4n)) {
  margin-right: 10px;
}

/* placing */

.rating {
  display: inline-block;
}

.placing-list-cards {
  /* outline: 1px solid coral; */
  height: 440px;
  width: 374px;
  margin-bottom: 24px;
}

.card-padding {
  padding-left: 45px;
  padding-right: 45px;
  margin-bottom: 16px;
}

.placing-card-text {
  justify-content: space-between;
}

.placing-list {
  flex-wrap: wrap;
  justify-content: space-between;
}

.placing-name {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: var(--black-color);
  margin-bottom: 16px;
}

.price-font {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: var(--black-color);
}

.placing-location {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #999999;
  margin-bottom: 33px;
}

.placing-list-image {
  margin-bottom: 32px;
}

/* hotel number */
.numbers {
  display: flex;
  flex-direction: column;
}

.last-card {
  background-image: url(../img/placing-img9.jpg);
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: relative;
}

.placing-list-item-link:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.placing-list-item-link:focus-visible::before {
  color: var(--color-primary);
  opacity: 1;
}

.placing-list-item-link:focus {
  outline: none;
}

.placing-list-item-link:hover svg {
  transform: translateX(5px);
  color: var(--third-color);
  outline: none;
}

svg {
  transition: transform 0.2s ease-in-out;
}
/* ------------- */
.placing-list-item-link {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 200%;
  color: var(--white-color);
  margin-bottom: 27px;
  text-align: center;
  display: inline-block;
}

.all_var {
  text-align: center;
  vertical-align: middle;
}

.about-us-descr,
.services-text,
.advantages-text {
  margin: 0;
}

.advantages-text {
  max-width: 190px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  color: var(--black-color);
}

.about-us-descr {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  color: var(--black-color);
}

.services-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  color: var(--black-color);
}

.advantages-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  color: var(--black-color);
}

.advantages-card {
  height: 66px;
  width: 66px;
  margin-bottom: 10px;
}

.advantages-card1-img {
  background-image: url(../img/bathtub.svg);
}

.advantages-card2-img {
  background-image: url(../img/hanger.svg);
}

.advantages-card3-img {
  background-image: url(../img/heating.svg);
}

.advantages-card4-img {
  background-image: url(../img/hotel-key.svg);
}

.advantages-card5-img {
  background-image: url(../img/parking.svg);
}

.advantages-card6-img {
  background-image: url(../img/reception.svg);
}

.advantages-card7-img {
  background-image: url(../img/security-box.svg);
}

.advantages-card8-img {
  background-image: url(../img/swimming-pool.svg);
}

.form-input {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
}

.form-select {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
}

.input-select {
  width: 133px;
  border: none;
  outline: none;
}

.form-select {
  border: none;
  outline: none;
}

.form1 {
  border: 1px solid #e4e4e4;
  border-radius: 15px;
  background: var(--white-color);
  width: 1080px;
  height: 106px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.footer-list-item {
  list-style-type: none;
}

.footer-list-item:not(:last-child) {
  margin-right: 35px;
}

.brn-search {
  width: 108px;
  height: 42px;
}

.form {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.contact-list-item {
  list-style-type: none;
  margin: 0;
  border-bottom: 1px solid #dadada;
  padding-bottom: 25px;
  margin-bottom: 23px;
}

.left-coll {
  display: inline-block;
  width: 150px;
}

.right-coll {
  width: 225px;
}

.right-coll-destr {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--black-color);
}

.right {
  display: inline-block;
  height: 528px;
  width: 653px;
  background-image: url(../img/resep.jpg);
  background-repeat: no-repeat;
  margin: 45px;
}

.info {
  display: inline-block;
  padding-top: 45px;
  padding-left: 45px;
  padding-bottom: 45px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contact {
  justify-content: space-between;
}

.contact-list {
  margin: 0;
  padding: 0;
}

.left-coll-destr {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: var(--black-color);
}

.left-link {
  padding: 27px;
}

/* footer */

.left-info {
  width: 360px;
  padding-top: 45px;
  padding-left: 45px;
  padding-bottom: 45px;
  margin-right: 125px;
}

.right-info {
  width: 500px;
  padding-top: 45px;
  flex-direction: column;
  margin-right: 150px;
}

.footer-descr {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 190%;
  color: var(--white-color);
  margin-bottom: 37px;
}

.footer-rights {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-primary);
}

.footer-descr-right {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 190%;
  color: var(--white-color);
  margin-bottom: 15px;
}

.footer__link {
  color: var(--color-primary);
  width: fit-content;
  transition: color 0.3s ease-in-out;
}

.footer__link:focus-visible {
  color: var(--color-primary);
  outline-offset: 2px;
  outline: 1px solid var(--color-primary);
}

.footer__link:hover {
  color: var(--secondary-color);
}

.footer__link:active {
  color: var(--third-color);
  outline: none;
}

.contacts-item-link {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

.footer-back {
  background: #333333;
  border-radius: 15px;
  height: 341px;
  background-image: url(../img/sunny.svg);
  background-repeat: no-repeat;
  background-position: right 20% bottom;
}

.footer-tell {
  flex-direction: column;
  margin-bottom: 15px;
}

.footter-soc {
  flex-direction: column;
  padding-top: 45px;
  padding-right: 45px;
  width: 50px;
  height: 50px;
  align-items: center;
}

.icon-link path {
  transition-property: fill, transform;
  transition: 0.3s ease-in-out;
}

.icon-link .icon-link:focus-visible path,
.icon-link:hover path {
  fill: var(--color-primary);
}
.icon-link:active path {
  fill: var(--third-color);
  opacity: 0.4;
}

.icon-link:focus-visible {
  outline: 0;
}

.icon-offset:not(last-child) {
  margin-bottom: 15px;
}
